.container {
    width: 100%;
    box-sizing: border-box;
}

.intro p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.intro p span {
    color: var(--accent-main);
}

.overview{
    display: flex;
    margin-bottom: 1.5rem;
    max-width: 75vw;

}

.Overview__card{
    width: 50%;
    box-sizing: border-box;
    margin-right: 1rem;
}
.activecard{
    margin-bottom:2rem ;
    width: 77vw;
}

.orderhistory{
    width: 75vw;
}

@media screen and (max-width:640px) {
    .overview{
        max-width: 90vw;
       box-sizing: border-box;
    }
    .Overview__card{
     padding: 0 .1rem;
     width: 100%;
     box-sizing: border-box;
     margin-right: 0.5rem;
    }

    .activecard{
        width: 95%;
    }

    .orderhistory{
        width: 95%;
    }
  
}