.render{
   height: 100vh;
   display: flex;
   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
}

.wallpaper{
   width: 50%;
}

.content{
   width: 50%;
   position: relative;
   top: 20%;
  padding: 0 3rem;
 
}

.link{
   text-decoration: none;
   color: var(--accent-main);
}

@media screen and (max-width:640px) {
   .wallpaper{
      display: none;
   }
   .content{
      width: 100%;
   }

   .content p{
      text-align: center;
   }
}

