.Spinner__Container {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--accent-main);
    width: 4.5rem;
    height: 4.5rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    padding: .1rem;
  }

  .Loader__Container{
    position: fixed;
    width: 84vw;
    height: 100vh;
    left: 16%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width:640px) {
    .Loader__Container{
      left: 0;
      right: 0;
      width: 100vw;
    }
  }