.MobileOrderCards__container{
    display: none;
}

@media screen and (max-width:640px){
    

.MobileOrderCards__container{
    background-color: var(--white);
    padding: 1rem ;
    border-radius: .625rem;
    display: block;
}



.MobileOrderCards__status{
    border-radius: .625rem;
    text-align: center;
    max-height: 1rem;
    padding: 0 .625rem;

}
.MobileOrderCards__Id{
    display: flex;
    justify-content: space-between;
   
}
.MobileOrderCards__Id h5{
font-size: .75rem;
font-weight: 500;
color: var(--text-subdued);
margin-bottom: .5rem;
}

.MobileOrderCards__Id p{
    font-size: 10px;
}

.MobileOrderCards__content{
    margin-top: 1.25rem;
}

.MobileOrderCards__content{
    display: flex;
    justify-content: space-between;
  
}

.MobileOrderCards__content h5{
   font-size: .75rem;
   font-weight: 400;
   color: var(--text-subdued);
}

.MobileOrderCards__content p{
    font-size: .75rem;
    font-weight: 400;
    color: var(--text);
}
}
