.orderHistoryDetail__container {
  background-color: var(--cloud-lighter);
  max-width: 90rem;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
}

.orderHistoryDetail__section {
  width: 100%;
  margin-left: 17vw;
  padding-top: 1rem;
  box-sizing: border-box;
}

.orderHistoryDetail__subSection {
  margin: 6rem 3rem 0rem 3rem;
}

.orderHistoryDetail__heading {
  display: flex;
}

.orderHistoryDetail__heading > h4 {
  font-weight: 500;
}

.orderDetail__table {
  width: 75vw;
  margin-top: 2.3125rem;
  background-color: var(--white);
  border-radius: 0.625rem;
}

.orderDetails__col1 {
  padding-right: 3.75rem;
}

.orderDetails__col2 {
  padding-left: 3.75rem;
}

.orderDetails__col1 > tr > td, .orderDetails__col2 > tr > td {
  padding: 2rem;
}

.orderDetails__col1 > tr > td > h5, .orderDetails__col2 > tr > td > h5 {
  font-weight: 500;
}


@media screen and (max-width: 640px) {
  .orderHistoryDetail__section {
    width: 90%;
    margin: 0;
  }

  .orderHistoryDetail__subSection {
    width: 90%;
    margin: 7rem auto;
  }

  .orderDetail__table {
    width: 100% !important;
    margin: 1rem 1.5rem;
  }

  .orderDetail__table > tbody> td:last-child {
    margin-bottom: 7rem;
  }

  .orderDetail__table > tbody > td {
    width: 100%;
    height: 100%;
    display: block;
  }

  .orderDetail__table>tbody>td {
    padding: 0rem;
  }
}

@media screen and (max-width: 280px) {
.orderDetails__col1 > tr > td {
  padding-right: 0rem;
  padding-left: 0.5rem;
}

.orderDetails__col2 > tr > td {
  padding-left: 0.5rem;
  padding-right: 0rem;
}
}

@media screen and (max-width: 920px) {
  .orderHistoryDetail__subSection {
    margin: 6rem 1rem;
  }

  .orderDetail__table {
    width: 82%;
  }

  .orderDetails__col1 {
    padding-right: 0.75rem;
  }
  
  .orderDetails__col2 {
    padding-left: 0.75rem;
  }
}
