/* Order Cards Section */
.orderCards {
  max-width: 64.0625rem;
  background-color: rgba(22, 146, 173, 0.05);
  height: 26rem;
  margin: 1rem auto;
}

.idSum {
  display: flex;
}

.idCard {
  width: 20.75rem;
  max-height: 10.3125rem;
  margin: 1rem;
  margin-right: 3.4375rem;
  background-color: var(--white);
  border-radius: 0.625rem;
}

.idNo {
  display: flex;
}

.idStatus {
  width: 5.25rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.125rem 0.5rem;
  margin-top: 0.25rem;
}

.caption {
  font-size: 0.75rem;
}

.trnstPoint1,
.trnstPoint2 {
  display: flex;
}

.trnstLine {
  width: 0.4rem;
  height: 2.25rem;
  margin-left: 5.56rem;
}

.activeOrders {
  width: 61.9375rem;
  height: 11.625rem;
  background-color: var(--white);
  border-radius: 0.625rem;
  margin-top: 3.875rem;
}

.titleStatus {
  display: inline-flex;
  margin-left: 1rem;
  margin-top: 1.0625rem;
}

.idStatus2 {
  position: absolute;
  margin-left: 54.3125rem;
  width: 5.25rem;
  height: 1.25rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.125rem 0.5rem;
}

.idDetails {
  display: flex;
  margin-top: 2.4375rem;
}

.idNo2 {
  margin-left: 1rem;
}

.activeTrnstPoints {
  width: 22rem;
}

.trnstDate2 {
  margin: 0 3rem;
}

.trnstLine2 {
  margin-left: 8rem;
}

.coNum h6,
.reqDate h6 {
  padding-bottom: 0.6875rem;
}