.modal{
    background-color: #ffffff;
    margin: 0 auto;
    width: 45%;
    border-radius: 8px;
    padding: 4rem;
    padding-top: 2rem;
}

.modal-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modal-heading-text{

}

.modal-heading-cancel{
    border: none;
    background: transparent;
    cursor: pointer;
    
}

.modal-heading-cancel > *{
    width: 1.5rem;
    height: 1.5rem;
}

.modal-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-main-img{
    margin-bottom: 2rem;
}

.modal-main-text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
}

.modal-main-button{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}

.modal-main-button > button{
    color: white;
    background: #25373B;
    width: 6.5625rem;
    height: 2.8125rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 23.4375rem){
    .modal{
        width: 75%;
        padding: 2.5rem 1.5rem;
    }

    .modal-main-button{
        justify-content: center;
    }
}