.modal{
    background-color: #ffffff;
    margin: 0 auto;
    width: 45%;
    border-radius: 8px;
    padding: 4rem;
    padding-top: 2rem;
}

.modal-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modal-heading-text{

}

.modal-heading-cancel{
    border: none;
    background: transparent;
    cursor: pointer;
    
}

.modal-heading-cancel > *{
    width: 1.5rem;
    height: 1.5rem;
}

.modal-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-main-img{
    margin-bottom: 2rem;
}

.modal-main-text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
}

.modal-main-button{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}

.modal-main-button > button{
    color: white;
    background: #25373B;
    width: 6.5625rem;
    height: 2.8125rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.ReactModalPortal > div {
    opacity: 25%;
    background:black !important;
}


.ReactModalPortal .ReactModal__Overlay {
transition: opacity 200ms ease-in-out;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 0, 0, 0.25)!important;
}
  
.ReactModalPortal .ReactModal__Overlay--after-open {
/* opacity: ; */
background-color: rgba(0, 0, 0, 0.25) !important
}



.overlay{
    background-color: rgba(0, 0, 0,0.25);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
}

.container{
    padding: 1rem;
    border-radius: .5rem;
    background: var(--white);
   max-width: 45rem;
    height: 18rem;
    margin:  auto;
    color: var(--text-color);
    padding:  1rem .2rem 2rem 2rem;
    box-sizing: border-box;

}

.header {
    display:  flex;
    justify-content: space-between;
}

.header h5{} 
  

.header p{
    font-size: .8rem;
    text-align: center;
}

.header button{
    background: none;
    border:  none;
    font-size: 1.5rem;
    font-weight: 500;
    width: 3rem;
    height: 3rem;
    margin-top: -.5rem;
    color: #5C5F62
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bodyp{
    margin-top: 1.25rem;
    font-size: .9rem;
    width: 90%;
    line-height: 1.3rem;
}

.body a {
    text-decoration: none;
    color: var(--accent-main);
}

.displayOrderModal{
    display: none;
}



@media only screen and (max-width: 40rem){
    .modal{
        width: 75%;
        padding: 2.5rem 1.5rem;
    }

    .modal-main-button{
        justify-content: center;
    }
   
    .displayOrderModal{
        display: block;
    }
}