.fleet{
    width: 100vw;
    padding: 2rem 4.5rem;
}

.fleet > h2, .fleet > p{
    text-align: center;
}

.fleet > h2{
    color: var(--text-black);
    font-weight: 500;
    margin-bottom: 1rem;
}

.fleet > p{
    color: var(--primary-40);
}

.fleet-grid{
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.fleet-grid > *{
    cursor: pointer;
    transition: .8s;
}

.fleet-grid > *:hover{
    transform: scale(1.03);
}

@media only screen and (max-width: 40rem){
    .fleet{
        padding: 0 3rem 2rem 3rem;
    }

    .fleet > h2{
        margin-top: -2.5rem;
    }

    .fleet > p{
        font-size: 0.875rem;
    }

    .fleet-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}