.testimonial{
    width: 100vw;
    padding: 3rem;
}

.testimonial > h2, .testimonial > p{
    text-align: center;
}

.testimonial > h2{
    color: var(--text-black);
    font-weight: 500;
}

.testimonial > p{
    color: var(--primary-40);
}