.dashboard{
    width: 80vw;
    height: 100vh;
    background: #FAFAFA;
    padding: 1rem;
}

.dashboard-main{
    padding-left: 1.5rem;
    height: 85vh;
}

.dashboard-main h4{
    color: var(--text-black);
    font-size: 1.5rem;
    font-size: 500;
    margin: 1.5rem 0;
}

.dashboard-main span{
    color: var(--accent-main);
}

.dashboard-grid{
    height: 45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 31px;
}

.dashboard-grid > div{
    width: auto;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5rem;
}

.item:nth-of-type(3){
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.item:nth-of-type(4){
    grid-column: 2 /span 1;
    grid-row: 2 / span 1;;
}

.item{
    display: flex;
    justify-content: space-between;
}

.stat-item{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.item:first-of-type > .circle, .item:nth-of-type(2) > .circle{
    background-color: var(--info-links);
}

.item:nth-of-type(3) > .circle{
    background-color: var(--success);
}

.item:nth-of-type(4) > .circle{
    background-color: var(--error);
}

.circle{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle > *{
    color: var(--white);
    font-size: 1.5rem;
}

.item > div > p{
    color: var(--text-subdued);
}

.item > div > h3{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 46px;
}

.stat-item > p{
    color: var(--text-subdued);
}

.requests{
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 1rem;
}