.App {
  height: 100vh;
  position: relative;
  max-width: 2160px;
  margin: 0 auto;
}

.activeNav {
  color: var(--accent-main) !important;
}

.blue{
  color: var(--white) !important;
  background-color: var(--accent-main) !important;
}

.removeBorder{
  border: none !important;
}

.addBorder{
  border-bottom: 4px solid var(--accent-main) !important;
}