.App{
  height: 100vh;
  background-color: var(--primary-80);
  border: 1px solid yellow;
}

.cardContainer {
  /* border: 1px solid red; */
  max-width: 100vw !important;
}

@media screen and (max-width: 1000px) {
  .cardContainer {
    flex-direction: column;
  }
}