html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root{
    /*Colour Variables*/
    /*Primary Colour*/
    --primary-main: #25373B;
    --primary-80: #515F62;
    --primary-60: #7C8789;
    --primary-40: #A8AFB1;
    --primary-20: #D3D7D8;
    --white: #FFFFFF;
    --text-black: #202223;
  
    /*Secondary Colours*/
    --secondary-main: #31CF30;
    --secondary-80: #5AD959;
    --secondary-60: #84E283;
    --secondary-40: #ADECAC;
    --secondary-20: #D6F5D6;
  
    /*Accent Colours*/
    --accent-main: #1692AD;
    --accent-80: #3FA3B9;
    --accent-60: #69B3C4;
    --accent-40: #92C3CE;
    --accent-20: #BBD4DA;
  
    /*Status Colours*/
    --success: #34D399;
    --info-links: #60A5FA;
    --warning: #FBBF24;
    --error: #F87171;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Regular.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Regular\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Thin.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 100;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Thin\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 100;
    font-style: italic;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Light.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 300;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Light\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 300;
    font-style: italic;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Medium.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Medium\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 500;
    font-style: italic;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Bold.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Bold\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 700;
    font-style: italic;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Black.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 900;
    font-style: normal;
}

@font-face{
    src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Black\ Italic.woff);
    font-family: 'Gordita', sans-serif;
    font-weight: 900;
    font-style: italic;
}

body{
    font-family: 'Gordita', sans-serif;
}

@media only screen and (max-width: 23.4375rem){
    /* Media query rules for styles below 375px */
    html{
        font-size: 75%;
    }
}