html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  transition: 0.3s all ease-in-out;
}

:root {
  /*Colour Variables*/
  /*Primary Colour*/
  --primary-main: #25373b;
  --primary-80: #515f62;
  --primary-60: #7c8789;
  --primary-40: #a8afb1;
  --primary-20: #d3d7d8;
  --white: #ffffff;
  --text-black: #202223;

  /*Secondary Colours*/
  --secondary-main: #31cf30;
  --secondary-80: #5ad959;
  --secondary-60: #84e283;
  --secondary-40: #adecac;
  --secondary-20: #d6f5d6;

  /*Accent Colours*/
  --accent-main: #1692ad;
  --accent-80: #44a8be;
  --accent-60: #73bdce;
  --accent-40: #a2d3de;
  --accent-20: #ecf6f8;

  /*Status Colours*/
  --success: #34d399;
  --info-links: #60a5fa;
  --warning: #fbbf24;
  --error: #f87171;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Regular.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Regular\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Thin.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Thin\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Light.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Light\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Medium.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Medium\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Bold.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Bold\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Black.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url(../src/Assets/gordita-cufonfonts-webfont/Gordita\ Black\ Italic.woff);
  font-family: "Gordita", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Gordita", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 40rem) {
  /* Media query rules for styles below 640px */
  html {
    font-size: 90%;
  }
}
