/* image section for wallpaper */
.imgsection{
    width: 100%;
    height: 100%;
}

.imgsection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form section */
.formsection{
    width: 100%; 
    height: 100%;
    padding: 2rem 5rem;
    color: var(--text-color);
    overflow-y: scroll;
}

/* Truck form section */
.truckform{
    width: 50%; 
    height: 100%;
    padding: 3rem 5rem;
    color: var(--text-color);
    box-sizing: border-box;
  
}
.truckform img{
    width: 100%;
    height: 5rem;
    margin-bottom: .1rem;
    object-fit: fill;
    margin-top: -.7rem;
}


/* Form header section */

.logo{
    display: none;
}

.header h3{
    font-size: 2.3rem;
    font-weight: 500;
    margin: 3rem 0 0 0 ;
    color: var(--text-colo);
}

.header p{
    margin: .5rem 0 1rem 0;
    font-size: .9rem;

}

.step1,.step2,.step3{
    display: block;
    width: 100%;
    height: 3.5 rem;
    margin-top: .5rem;
    object-fit: contain;
    
}

.hidestep{
    display: none;
}

.nav{
    position: fixed;
    width: 100%;
    height:  4rem;
    box-shadow: .5px 2px  #e5e5e5;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    background-color: var(--white);
}

/* User section */
.usersection{
    background-color: var(--cloud-lighter);
    padding: 1rem 2rem;
    border-radius: .3rem;
}

.usersectionbutton, .focus{
    height: 2.5rem;
    width: 50%;
    border-radius: .2rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    
   
}

.usersectionbutton{
    background: none;
    color: var(--text-color);
}

/* focus ,agree , button , span , error*/

.focus{
    background: var(--white);
    color: var(--accent-main);
    outline: none;
}

.agree{
    margin: 1rem 0;
    margin-right: .5rem ;
}

.button{
    width: 100%;
    height: 2.5rem;
    border-radius: .3rem;
    border: none;
    background: var(--primary-main);
    color: var(--white);
    margin-bottom: 1.5rem;
    margin-top: 1rem;

}

.button:hover{
    background: var(--accent-main);
}

.haveaccount{
   text-align: center;
}

.span{
    color: var(--info-links);
}

.error{
    font-size: .8rem;
    color: var(--error);
    font-weight: 500;
    margin: .3rem .2rem;
}



@media screen and (max-width:640px){
    .imgsection{
        display: none;
    }

    .formsection{
     padding: 2rem ;

    }
    .header{
        text-align: center;
    }

    .header h3{
      font-size: 1.5em;
    }

    .header p{
        font-size: .8rem;
      }

    .logo{
        display: block;
        margin: 2rem auto;
        margin-top: 3rem;
    }

    .truckform{
        width: 100%;
        padding: 2rem;
    }

}
